<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="container">
        <h2>Вход</h2>
        <form id="loginForm">
            <input type="email" id="emailInput" placeholder="Email" required />
            <input type="password" id="password" placeholder="Пароль" required />
            <button type="submit">Войти</button>
        </form>
        <p id="loginMessage" style="margin-top: 10px;"></p>
        <p>Нет аккаунта? <a href="reg.html">Регистрация</a></p>
    </div>

    <script type="module" src="/js/app.js"></script>
</body>
</html>